doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/appraisal_js/angscript.js')
    script(src='/appraisal_js/vcreview.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    // Bootstrap core CSS
    // Custom styles for this template
    link(href='assets/css/style.css', rel='stylesheet')
    link(href='assets/css/style-responsive.css', rel='stylesheet')
    style.
      body {
      background-color: #f5f5f5;
      font-family: 'Raleway', sans-serif;
      color: #2a2a2a;
      }
      body input[type="text"] {
      padding-left: 0.5rem;
      margin-left: -0.5rem;
      width: 100%;
      line-height: 1.8rem;
      font-size: 1rem;
      font-family: inherit;
      background-color: #f5f5f5;
      border: 0px;
      }
      h2,h3{
      margin-top:4px;
      margin-bottom:4px;
      font-size:large;
      color:white;
      }
      .content {
      margin: 80px auto;
      max-width: 1330px;
      }
      .content h2, h3 {
      margin-left:70px;
      }
      table {
      margin: 0 auto;
      width: 90%;
      background-color: #ddd;
      border: 1px solid #999;
      }
      table thead th {
      padding-left: 0.5rem;
      line-height: 2rem;
      font-size: 0.9rem;
      border: 1px solid #999;
      /*
      background-color: #2a2a2a;
      color: white; */
      }
      table tbody td {
      padding-left: 0.5rem;
      border: 1px solid #999;
      line-height: 1.8rem;
      }
      textarea {
      margin-left: 70px;
      padding: 26px;
      width: 400px;
      }
      .btn {
      margin-right: 30px;
      padding: 10px 12px;
      font-family: 'Raleway', sans-serif;
      font-size: 14px;
      cursor: pointer;
      }
      .btn:hover {
      background-color: #2a2a2a;
      color: #ddd;
      }
      .edit, .trash, .new-row {
      padding: 0;
      text-align: center;
      text-transform: uppercase;
      -webkit-transition: background-color 0.4s ease;
      transition: background-color 0.4s ease;
      -webkit-transition: color 0.4s ease;
      transition: color 0.4s ease;
      }
      .edit:hover, .trash:hover, .new-row:hover {
      cursor: pointer;
      background-color: #2a2a2a;
      color: #ddd;
      }
      .logout {
        color: #f2f2f2;
        font-size: 12px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        border: 1px solid #64c3c2 !important;
        padding: 8px 16px;
        margin-right: 15px;
        background: #68dff0;
        margin-top: 15px;
      }
      .inline-div {
      display:inline-block;
      }
      .inline-txtarea {
      resize: none;
      border : ;
      height:50px;
      }
  body(ng-app='vcReview', ng-controller='vcReviewController', ng-init='getAppraisalData()')
    // header start
    header(style='background-color: #2C3E50;margin-top: -80px;padding-top: 18px;position: fixed;width: 100%;height:58px;margin-left:-8px;')
      // logo start
      a.logo(href='/dashbord')
        img(src='/myhub_logo.png',style='height:55px;width:100px;margin-top:-8px;margin-left:21px')

      // logo end
      ul.pull-right.top-menu(style='padding-right: 21px;margin-top:9px;')
        a.logout(href='/logout') Logout
    // header end
    .content
      br
      br
      center
        h1 FACULTY SELF ASSESSMENT FOR THE ACADEMIC YEAR {{appraisalData.Appraisalyear}}
      br
      br
      table
        tbody
          tr
            td(colspan='7', style='text-align:center; background-color:#2C3E50;')
              h2 1. (a) GENERAL INFORMATION :
          tr
            td.data(style='width:25%;')
              b
                h4 (a) Name in Full :
            td.data {{appraisalData.generalInformation.staffName}}
          tr
            td.data(style='width:25%;')
              h4 (b) Department   :
            td.data {{appraisalData.generalInformation.department}}
      br
      br
      table
        thead
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h2 1. (b) ACADEMIC QUALIFICATIONS :
          tr
            th(style='width:15%; text-align:') QUALIFICATION
            th(style='width:15%; text-align:') YEAR OF PASSING
            th(style='width:15%; text-align:') INSTITUTION
        tbody
          tr
            td.name(style='text-align:center') UG
            td.data {{appraisalData.generalInformation.ugYearofPassing}}
            td.data {{appraisalData.generalInformation.ugInstitution}}
          tr
            td.name(style='text-align:center') PG
            td.data {{appraisalData.generalInformation.pgYearofPassing}}
            td.data {{appraisalData.generalInformation.pgInstitution}}
          tr
            td.name(style='text-align:center') Ph.D
            td.data {{appraisalData.generalInformation.phdYearofPassing}}
            td.data {{appraisalData.generalInformation.phdInstitution}}
      br
      table.table.data
        tbody
          tr
            td.data(style='width:25%;')
              h4
                | (a) Additional Qualifications/Fellowships/
                br
                | Memberships/Certificate Courses  :
            td.data {{appraisalData.generalInformation.addQualification}}
          tr
            td.data(style='width:25%;')
              h4 (b) Area of specialization, if any :
            td.data {{appraisalData.generalInformation.specialization}}
          tr
            td.data(style='width:25%;')
              h4 (c) Date of joining :
            td.data {{appraisalData.generalInformation.dateofJoining}}
          tr
            td.data(style='width:25%;')
              h4
                | (d) Present designation and date of 
                br
                | appointment to that designation :
            td.data {{appraisalData.generalInformation.presentDesignation}}
      br
      br
      table.table.data
        tbody
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h2 1. (c) EXPERIENCE :
          tr
            td.data(style='width:25%;')
              h4 (a) Industrial experience if any :
            td.data {{appraisalData.generalInformation.industrialExperience}}
          tr
            td.data(style='width:25%;')
              h4 (b) Teaching experience total :
            td.data {{appraisalData.generalInformation.teachingExperience}}
      br
      table
        thead
          tr
            th(style='width:15%; text-align:') NAME OF THE COLLEGE
            th(style='width:15%; text-align:') FROM (DD/MM/YYYY)
            th(style='width:15%; text-align:') TO (DD/MM/YYYY)
            th(style='width:15%; text-align:') EXPERIENCE IN YEARS
        tbody
          tr(ng-repeat="data in appraisalData.generalInformation.Experience")
            td.name {{data.College}}
            td.data {{data.From}}
            td.data {{data.To}}
            td.data {{data.InYears}}
          
      br
      br
      table
        thead
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h2 2. SUBJECTS AVERAGE PASS PERCENTAGE :
          tr
            th(style='width:15%; text-align:') SUBJECT NAME
            th(style='width:15%; text-align:') YEAR-SEM-BRANCH-SEC
            th(style='width:15%; text-align:') NO.OF.STUDENTS APPEARED (A)
            th(style='width:15%; text-align:') PASSED (B)
            th(style='width:15%; text-align:') PASS PERCENTAGE (B/A*100)
        tbody
          tr(ng-repeat='Data in appraisalData.subjectAverage')
            td.name {{Data.subjectName}}
            td.data {{Data.yearSem}}
            td.data {{Data.studentsAppeared}}
            td.data {{Data.studentsPassed}}
            td.data {{Data.percentage}}
      table.table.data
        tbody
          tr
            td.data(style='width:25%;text-align:center;')
              h4 AVERAGE :
            td.data
              center {{appraisalData.subjectAverage[0].average}}
      .inline-div(style='margin-right:200px;')
        h2(style='color:black;') FACULTY Remarks
        textarea.inline-txtarea(disabled='', cols='15', rows='10') {{appraisalData.subjectAverage[0].facultyComment}}
      .inline-div
        h2(style='color:black;') HOD Remarks
        textarea.inline-txtarea(disabled='',cols='15', rows='10') {{appraisalData.hodcomment.subjectAverageComment}} 
      br
      br
      table
        thead
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h2 3. PROCTORING SUBJECTS AVERAGE PASS PERCENTAGE :
          tr
            th(style='width:15%; text-align:') NO.OF. STUEDENTS ALLOTED FOR PROCTORING
            th(style='width:15%; text-align:') YEAR-SEM-BRANCH-SEC
            th(style='width:15%; text-align:') NO.OF.STUDENTS APPEARED (A)
            th(style='width:15%; text-align:') PASSED (B)
            th(style='width:15%; text-align:') PASS PERCENTAGE (B/A*100)
        tbody
          tr(ng-repeat='proctoringAverage in appraisalData.proctoringAverage')
            td.name {{proctoringAverage.studentAlloted}}
            td.data {{proctoringAverage.yearSem}}
            td.data {{proctoringAverage.studentsAppeared}}
            td.data {{proctoringAverage.studentsPassed}}
            td.data {{proctoringAverage.percentage}}
      table.table.data
        tbody
          tr
            td.data(style='width:25%;text-align:center;')
              h4 AVERAGE :
            td.data 
              center {{appraisalData.proctoringAverage[0].average}}
      .inline-div(style='margin-right:200px;')
        h2(style='color:black;') FACULTY Remarks
        textarea.inline-txtarea(disabled='', cols='15', rows='10') {{appraisalData.proctoringAverage[0].facultyComment}}
      .inline-div
        h2(style='color:black;') HOD Remarks
        textarea.inline-txtarea(disabled='',cols='15', rows='10') {{appraisalData.hodcomment.proctoringAverageComment}}
      br
      br
      table
        thead
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h2 4. STUDENT FEEDBACK (THOERY SUBJECTS ONLY) :
          tr
            th(style='width:15%; text-align:') SUBJECT NAME
            th(style='width:15%; text-align:') YEAR-SEM-BRANCH-SEC
            th(style='width:15%; text-align:') NO.OF.STUDENTS APPEARED (A)
            th(style='width:15%; text-align:') PASSED (B)
            th(style='width:15%; text-align:') PASS PERCENTAGE (B/A*100)
        tbody
          tr(ng-repeat='feedback in appraisalData.feedback')
            td.name {{feedback.subjectName}}
              br
            td.data {{feedback.yearSem}}
            td.data {{feedback.studentsAppeared}}
            td.data {{feedback.studentsPassed}}
            td.data {{feedback.percentage}}
          
      table.table.data
        tbody
          tr
            td.data(style='width:25%;text-align:center;')
              h4 AVERAGE :
            td.data {{appraisalData.feedback[0].average}}
      .inline-div(style='margin-right:200px;')
        h2(style='color:black;') FACULTY Remarks
        textarea.inline-txtarea(disabled='', cols='15', rows='10') {{appraisalData.feedback[0].facultyComment}}
      .inline-div
        h2(style='color:black;') HOD Remarks
        textarea.inline-txtarea(disabled='',cols='15', rows='10') {{appraisalData.hodcomment.feedbackComment}}
      br
      br
      table
        thead
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h2 5. RESEARCH PUBLICATION & ACADEMIC CONTRIBUTIONS :
          tr
            th(style='width:20%; text-align:') TYPE OF RESEARCH PAPERS
            th(style='width:15%; text-align:') NO.OF.PAPERS
            th(style='width:15%; text-align:') MAXIMUM SELF ASSESMENT MARKS
            th(style='width:15%; text-align:') OBTAINED SELF ASSESMENT MARKS (MAXIM)
        tbody
          tr
            td.name 1 Scopus/SCI indexed papers/Chapters/Books
            td.data {{appraisalData.researchPublication.scopusNumber}}
            td.data 20
            td.data(rowspan='5') {{appraisalData.researchPublication.researchPoint}}
            
          tr
            td.name 1 National/International Journals (Non Paid)
            td.data {{appraisalData.researchPublication.nationalNumber}}
            td.data 15
            
          tr
            td.name 1 Reputed Conference Papers
            td.data {{appraisalData.researchPublication.reputedNumber}}
            td.data 10
            
          tr
            td.name 1 Journals/Conference Papers
            td.data {{appraisalData.researchPublication.journalNumber}}
            td.data 5
          
          tr
            td.name No Journal/Conference Papers
            td.data {{appraisalData.researchPublication.chapterNumber}}
            td.data 0
            
      .inline-div(style='margin-right:200px;')
        h2(style='color:black;') FACULTY Remarks
        textarea.inline-txtarea(disabled='', cols='15', rows='10')
      .inline-div
        h2(style='color:black;') HOD Remarks
        textarea.inline-txtarea(disabled='',cols='15', rows='10') {{appraisalData.hodcomment.researchComment}}
      br
      br
      table
        thead
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h3 5. (a) SCOPUS/SCI INDEXED PAPERS :
          tr
            th(style='width:20%; text-align:') JOURNAL DETAILS & TITLE WITH PAGE NUMBERS
            th(style='width:15%; text-align:') ISSN/ISBN NO/SCOPUS NO
            th(style='width:15%; text-align:') WHETHER PEER REVIEWED IMAPCT FACTOR IF ANY
            th(style='width:15%; text-align:') SPECIFY AUTHOR1/AUTHOR2/AUTHOR3
        tbody
          tr(ng-repeat='scopus in appraisalData.scopus')
            td.name {{scopus.Title}}
            td.data {{scopus.Isbnno}}
            td.data {{scopus.Reviewed}}
            td.data {{scopus.Author}}
      .inline-div(style='margin-right:200px;')
        h2(style='color:black;') FACULTY Remarks
        textarea.inline-txtarea(disabled='', cols='15', rows='10') {{appraisalData.scopus[0].facultyComment}}
      .inline-div
        h2(style='color:black;') HOD Remarks
        textarea.inline-txtarea(disabled='',cols='15', rows='10') {{appraisalData.hodcomment.scopusComment}}
      br
      br
      table
        thead
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h3 5. (b) NATIONAL/INTERNATIONAL JOBS (Non-Paid) :
          tr
            th(style='width:20%; text-align:') JOURNAL DETAILS & TITLE WITH PAGE NUMBERS
            th(style='width:15%; text-align:') ISSN/ISBN NO/SCOPUS NO
            th(style='width:15%; text-align:') WHETHER PEER REVIEWED IMAPCT FACTOR IF ANY
            th(style='width:15%; text-align:') SPECIFY AUTHOR1/AUTHOR2/AUTHOR3
        tbody
          tr(ng-repeat='national in appraisalData.national')
            td.name {{national.Title}}
            td.data {{national.Isbnno}}
            td.data {{national.Reviewed}}
            td.data {{national.Author}}
      .inline-div(style='margin-right:200px;')
        h2(style='color:black;') FACULTY Remarks
        textarea.inline-txtarea(disabled='', cols='15', rows='10') {{appraisalData.national[0].facultyComment}}
      .inline-div
        h2(style='color:black;') HOD Remarks
        textarea.inline-txtarea(disabled='',cols='15', rows='10') {{appraisalData.hodcomment.nationalComment}}
      br
      br
      table
        thead
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h3 5. (c) REPUTED CONFERENCE PAPERS : 
          tr
            th(style='width:20%; text-align:') TITLE WITH PAGE NUMBERS
            th(style='width:15%; text-align:') INTERNATIONAL/NATIONAL CONFERENCE
            th(style='width:15%; text-align:') DETAILS OF CONFERENCE
            th(style='width:15%; text-align:') SPECIFY AUTHOR1/AUTHOR2/AUTHOR3
        tbody
          tr(ng-repeat='reputed in appraisalData.reputed')
            td.name {{reputed.Title}}
            td.data {{reputed.Conference}}
            td.data {{reputed.DetailConference}}
            td.data {{reputed.Author}}
      .inline-div(style='margin-right:200px;')
        h2(style='color:black;') FACULTY Remarks
        textarea.inline-txtarea(disabled='', cols='15', rows='10') {{appraisalData.reputed[0].facultyComment}}
      .inline-div
        h2(style='color:black;') HOD Remarks
        textarea.inline-txtarea(disabled='',cols='15', rows='10') {{appraisalData.hodcomment.reputedConferenceComment}}
      br
      br
      table
        thead
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h3 5. (d) JOURNAL/CONFERENCE PAPERS : 
          tr
            th(style='width:20%; text-align:') TITLE WITH PAGE NUMBERS
            th(style='width:15%; text-align:') INTERNATIONAL/NATIONAL CONFERENCE
            th(style='width:15%; text-align:')
              | DETAILS OF JOURNAL/
              br
              | CONFERENCE
            th(style='width:15%; text-align:') SPECIFY AUTHOR1/AUTHOR2/AUTHOR3
        tbody
          tr(ng-repeat='journal in appraisalData.journal')
            td.name {{journal.Title}}
            td.data {{journal.Conference}}
            td.data {{journal.DetailConference}}
            td.data {{journal.Author}}
      .inline-div(style='margin-right:200px;')
        h2(style='color:black;') FACULTY Remarks
        textarea.inline-txtarea(disabled='', cols='15', rows='10') {{appraisalData.journal[0].facultyComment}}
      .inline-div
        h2(style='color:black;') HOD Remarks
        textarea.inline-txtarea(disabled='',cols='15', rows='10') {{appraisalData.hodcomment.journalConferenceComment}}
      br
      br
      table
        thead
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h3 5. (e) CHAPTERS/BOOKS : 
          tr
            th(style='width:20%; text-align:') TITLE WITH PAGE NUMBERS
            th(style='width:15%; text-align:') PUBLISHER
            th(style='width:15%; text-align:') ISSN/ISBN NO.
            th(style='width:15%; text-align:') SPECIFY AUTHOR1/AUTHOR2/AUTHOR3
        tbody
          tr(ng-repeat='chapter in appraisalData.chapter')
            td.name {{chapter.Title}}
            td.data {{chapter.Publisher}}
            td.data {{chapter.Isbnno}}
            td.data {{chapter.Author}}
      .inline-div(style='margin-right:200px;')
        h2(style='color:black;') FACULTY Remarks
        textarea.inline-txtarea(disabled='', cols='15', rows='10') {{appraisalData.chapter[0].facultyComment}}
      .inline-div
        h2(style='color:black;') HOD Remarks
        textarea.inline-txtarea(disabled='',cols='15', rows='10') {{appraisalData.hodcomment.chapterBookComment}}
      br
      br
      table
        thead
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h2
                | 6. WORKSHOPS, TEACHING-LEARNING-EVALUATION TECHNOLOGY PROGRAMS, FACULTY DEVELOPMENT PROGRAMS : STTP (SHORT TERM TRAINING PROGRAMS) ATTENDED :
          tr
            th(style='width:15%; text-align:') PROGRAM
            th(style='width:15%; text-align:') DURATION
            th(style='width:15%; text-align:') DATE & PLACE
            th(style='width:15%; text-align:') ORGANIZATION
        tbody
          tr(ng-repeat='data in appraisalData.workshop')
            td.name {{data.program}}
            td.data {{data.duration}}
            td.data {{data.datePlace}}
            td.data {{data.organization}}
          
      .inline-div(style='margin-right:200px;')
        h2(style='color:black;') FACULTY Remarks
        textarea.inline-txtarea(disabled='', cols='15', rows='10') {{appraisalData.workshop[0].facultyComment}}
      .inline-div
        h2(style='color:black;') HOD Remarks
        textarea.inline-txtarea(disabled='',cols='15', rows='10') {{appraisalData.hodcomment.workshopComment}}
      br
      br
      br
      table
        thead
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h2 7. STAFF APPRAISAL - POINTS EARNED :
          tr
            th(style='width:15%; text-align:') SUBJECTS AVERAGE PASS %
            th(style='width:15%; text-align:') PROCTORING STUDENTS AVERAGE PASS %
            th(style='width:15%; text-align:') STUDENTS FEEDBACK %
            th(style='width:15%; text-align:') RESEARCH PUBLICATIONS & ACADEMIC CONTRIBUTIONS
        tbody
          tr(ng-repeat='data in appraisalData.appraisalpoint')
            td.name {{data.subAverage}}
            td.data {{data.proctoringAverages}}
            td.data {{data.studentFeedback}}
            td.data {{data.researchPoint}}
      table.table.data
        tbody
          tr
            td.data(style='width:25%;')
              h4 Total (out of 80) 
            td.data {{appraisalData.appraisalpoint.totalPoint}}
      .inline-div(style='margin-right:200px;')
        h2(style='color:black;') FACULTY Remarks
        textarea.inline-txtarea(disabled='', cols='15', rows='10') {{appraisalData.appraisalpoint[0].facultyComment}}
      .inline-div
        h2(style='color:black;') HOD Remarks
        textarea.inline-txtarea(disabled='',cols='15', rows='10') {{appraisalData.hodcomment.pointEarnedComment}}
      br
      br
      table
        thead
          tr
            td(colspan='12', style='text-align:center; background-color:#2C3E50;')
              h2 8. ADDITIONAL RESPONSIBILITIES IN THE DEPARTMENT/COLLEGE :
          tr
            th(style='width:15%; text-align:') RESPONSIBILITY
            th(style='width:15%; text-align:') ASSIGNED BY
            th(style='width:15%; text-align:') DURATION
        tbody
          tr(ng-repeat='data in appraisalData.Resposibility')
            td.name {{data.responsibility}}
            td.data {{data.assignedBy}}
            td.data {{data.duration}}
      .inline-div(style='margin-right:200px;')
        h2(style='color:black;') FACULTY Remarks
        textarea.inline-txtarea(disabled='', cols='15', rows='10') {{appraisalData.Resposibility[0].facultyComment}}
      .inline-div
        h2(style='color:black;') HOD Remarks
        textarea.inline-txtarea(disabled='', cols='15', rows='10') {{appraisalData.hodcomment.addResponsibilityComment}} 
      center
        .inline-div
          h2(style='color:black;') PRINCIPAL Remarks
          textarea.inline-txtarea(cols='15', rows='10') {{appraisalData.principalComment.review}}
        br
        br
        button.btn.btn-default(type='submit' ng-click='promote()' ) Promote
        button.btn.btn-default(type='submit' ng-click='reject()') Reject
        
      
      br
    // ---- TABLE FORMAT WITH EDIT, DELETE & ADD NEW ROW OPTIONS ----
    //
      <table>
      <thead>
      <tr>
      <th style="width:15%; text-align:left">Name</th>
      <th style="width:15%; text-align:left">Data</th>
      <th style="width:15%; text-align:left">Data</th>
      <th style="width:15%; text-align:left">Data</th>
      <th style="width:15%; text-align:left">Data</th>
      <th style="width:15%; padding:0">Edit</th>
      <th style="width:15%; padding:0">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td class="name">Doe, John</td>
      <td class="data">Sample Data</td>
      <td class="data">Sample Data</td>
      <td class="data">Sample Data</td>
      <td class="data">Sample Data</td>
      <td class="edit">edit</td>
      <td class="trash">delete</td>
      </tr>
      <tr>
      <td class="name">Smith, Jane</td>
      <td class="data">Sample Data</td>
      <td class="data">Sample Data</td>
      <td class="data">Sample Data</td>
      <td class="data">Sample Data</td>
      <td class="edit">edit</td>
      <td class="trash">delete</td>
      </tr>
      <tr>
      <td class="name">T, Mister</td>
      <td class="data">Sample Data</td>
      <td class="data">Sample Data</td>
      <td class="data">Sample Data</td>
      <td class="data">Sample Data</td>
      <td class="edit">edit</td>
      <td class="trash">delete</td>
      </tr>
      <tr>
      <td class="new-row" colspan="7">Add New Row</td>
      </tr>
      </tbody>
      </table>
      </div>
      <script>
      var isEditing = false,
      tempNameValue = "",
      tempDataValue = "";
      // Handles live/dynamic element events, i.e. for newly created edit buttons
      $(document).on('click', '.edit', function() {
      var parentRow = $(this).closest('tr'),
      tableBody = parentRow.closest('tbody'),
      tdName = parentRow.children('td.name'),
      tdData = parentRow.children('td.data');
      if(isEditing) {
      var nameInput = tableBody.find('input[name="name"]'),
      dataInput = tableBody.find('input[name="data"]'),
      tdNameInput = nameInput.closest('td'),
      tdDataInput = dataInput.closest('td'),
      currentEdit = tdNameInput.parent().find('td.edit');
      if($(this).is(currentEdit)) {
      // Save new values as static html
      var tdNameValue = nameInput.prop('value'),
      tdDataValue = dataInput.prop('value');
      tdNameInput.empty();
      tdDataInput.empty();
      tdNameInput.html(tdNameValue);
      tdDataInput.html(tdDataValue);
      }
      else {
      // Restore previous html values
      tdNameInput.empty();
      tdDataInput.empty();
      tdNameInput.html(tempNameValue);
      tdDataInput.html(tempDataValue);
      }
      // Display static row
      currentEdit.html('Edit');
      isEditing = false;
      }
      else {
      // Display editable input row
      isEditing = true;
      $(this).html('Save');
      var tdNameValue = tdName.html(),
      tdDataValue = tdData.html();
      // Save current html values for canceling an edit
      tempNameValue = tdNameValue;
      tempDataValue = tdDataValue;
      // Remove existing html values
      tdName.empty();
      tdData.empty();
      // Create input forms
      tdName.html('<input type="text" name="name" value="' + tdNameValue + '">');
      tdData.html('<input type="text" name="data" value="' + tdDataValue + '">');
      }
      });
      // Handles live/dynamic element events, i.e. for newly created trash buttons
      $(document).on('click', '.trash', function() {
      // Turn off editing if row is current input
      if(isEditing) {
      var parentRow = $(this).closest('tr'),
      tableBody = parentRow.closest('tbody'),
      tdInput = tableBody.find('input').closest('td'),
      currentEdit = tdInput.parent().find('td.edit'),
      thisEdit = parentRow.find('td.edit');
      if(thisEdit.is(thisEdit)) {
      isEditing = false;
      }
      }
      // Remove selected row from table
      $(this).closest('tr').remove();
      });
      $('.new-row').on('click', function() {
      var tableBody = $(this).closest('tbody'),
      trNew = '<tr><td class="name"><input type="text" name="name" value=""></td><td class="data"><input type="text" name="data" value=""></td><td class="data"><input type="text" name="data" value=""></td><td class="data"><input type="text" name="data" value=""></td><td class="edit">Save</td><td class="trash">delete</td></tr>';
      if(isEditing) {
      var nameInput = tableBody.find('input[name="name"]'),
      dataInput = tableBody.find('input[name="data"]'),
      tdNameInput = nameInput.closest('td'),
      tdDataInput = dataInput.closest('td'),
      currentEdit = tdNameInput.parent().find('td.edit');
      // Get current input values for newly created input cases
      var newNameInput = nameInput.prop('value'),
      newDataInput = dataInput.prop('value');
      // Restore previous html values
      tdNameInput.empty();
      tdDataInput.empty();
      tdNameInput.html(newNameInput);
      tdDataInput.html(newDataInput);
      // Display static row
      currentEdit.html('Edit');
      }
      isEditing = true;
      tableBody.find('tr:last').before(trNew);
      });
      </script>
    // ---- //TABLE FORMAT WITH EDIT, DELETE & ADD NEW ROW OPTIONS ----
